 AmoCRM Configuration
VITE_AMOCRM_SUBDOMAIN=uzautotrailer
VITE_AMOCRM_ACCESS_TOKEN=
VITE_AMOCRM_REFRESH_TOKEN=
VITE_AMOCRM_CLIENT_ID=cb8ecb39-a8d5-463d-982b-e8a7b1c075e7
VITE_AMOCRM_CLIENT_SECRET=biKu1xDz4KvqRleGEXImKJOtA3er2pMEDjogG1hWLBIzSvkS6uL2fsRe2ECykDqR3
VITE_AMOCRM_REDIRECT_URI=https://ais-dev-xsztrm7n75jzusmcw2yvha-824037667933.asia-southeast1.run.app
